nav{
    background-color: grey;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left: 30px;

}

.email{
    border-radius: 20%;
}

.container{
    margin: 0 30px;
}
nav img{
    width: 50px;
}
.res-pic img{
    width: 27%;
    height: 220px;
    margin: 15px;
    border-radius: 15px;
}
.res-pic{
    text-align: center;
}
.Menu{
    background-color: lightsalmon;
    padding: 0 15px;
    border-radius: 20px;
}
.text{
    background-color: skyblue;
    border-radius: 20px;
}
footer{
    background-color: grey;
    padding: 20px;
}
.footer-link {
    text-decoration: none;
}
.footer-link a{
    color: white;
    text-decoration: none;
    margin:0 15px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.icon .bi {
    color: white;
    font-size: 30px;
    text-decoration: none;
    margin:0 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}